.box-cadastro {
    margin: 30px;
    padding: 30px;
}
.container {
    margin: 30px;
  }

.validate {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    outline: none;
    height: 50px;
}

.content-form {
    border-right: 1px solid #f1f1f1
  }

.btn-cadastro {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #0003af;
    font-weight: bold;
}
.container-formWife {
    padding-top: 20px;
}

.header-form {
    padding-bottom: 40px;
    border-bottom: #cfcece 1px solid;
}
  
.header-form h2 {
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-dados-pessoais {
   background-color: #777676;
   padding: 1px;
}

.header-ingresso {
    background-color: #777676;
    padding: 1px;
  }
  
  .header-ingresso h3{
    padding-left: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
.header-dados-pessoais h3 {
   padding-left: 20px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}
.img-poster {
  height: 150px;
  background: linear-gradient(0deg,#000 100%);
}

.logo-header {
  width: 500px ;
  display: flex;
  height: 80px;
  left:25%;
  position: relative;
}

.container-ingresso {
  margin: 20px;
  border-bottom: #cfcece 1px solid;
  padding-bottom: 15px;
}

.content-ingresso {
  margin: 20px;
  padding-bottom: 15px;
}

.value-movie {
  color: #3d59f5;
  margin-top: 25px;
}

.sub-title-value {
  font-weight: 450;
  font-weight: bold;
}

.sub-title-total {
  font-weight: 700;
}

footer {
    margin: 30px;
    border-bottom: #cfcece 1px solid;
  }
  .title-section-footer {
    color: #0654AE;
  }
  
  footer a {
    padding: 10px;
    color: #777676
  }

  .fa-icon{
    padding: 10px;
    color: #777676
  }
  
  .logo-footer {
    width: 200px ;
  }
 
  .addres-footer {
    margin-right: 40px;
    text-align: left;
  }
  
  .redes-socias {
    color: #777676;
    font-weight: 500;
  }
  
  .logo-redes-footer{
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #0654AE;
    margin: 5px;
    border-radius: 100%
  }
  
  .content-redes-sociais {
    margin-bottom: 30px;
  }
  .copyright {
    position: absolute;
    right: 25px;
  }