<div class="container">
        <img class="logo-header" src="../../../assets/otech.png" alt="Logo da otech" >
        <br/><br/>
    <div class="header-form">
        <h2>FORMULÀRIO</h2>
        <div fxLayout="row" fxLayout.xs="column">
            <div class="content-form" fxFlex="65">
                <div class="header-dados-pessoais">
                  <h3>DADOS PESSOAIS</h3>
                </div>
                <form  [formGroup]="form" class="mt-5">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                            <div fxFlex="50" class="field">
                                <mat-form-field appearance="outline" class="field-100">
                                  <input matInput placeholder="Nome" formControlName="name">
                                  <app-error-form [control]="form.get('name')" label="Nome"></app-error-form>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" class="field">
                                <mat-form-field appearance="outline" class="field-100">
                                  <input matInput placeholder="Último Nome" formControlName="lastName">
                                  <app-error-form [control]="form.get('lastName')" label="Último Nome"></app-error-form>
                                </mat-form-field>
                                
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="50" class="field">
                              <mat-form-field appearance="outline" class="field-100">
                                <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
                                <app-error-form [control]="form.get('cpf')" label="CPF"></app-error-form>
                              </mat-form-field> 
                            </div>
                            <div fxFlex="50" class="field">
                              <mat-form-field appearance="outline" class="field-100">
                                <mat-label>Data de Nascimento</mat-label>
                                <input matInput [matDatepicker]="picker" 
                                formControlName="birthDate"
                                [min]="minDate"
                                [max]="maxDate">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <app-error-form [control]="form.get('birthDate')" label="Data de Nascimento"></app-error-form>
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="field" fxFlex="100" >
                            <mat-form-field appearance="outline" class="field-100">  
                              <input matInput placeholder="Email" formControlName="email" >
                              <app-error-form [control]="form.get('email')" label="Email"></app-error-form>
                            </mat-form-field>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <mat-checkbox (change)="onChecked()" color="primary" >Adicionar acompanhante</mat-checkbox>
                            </span>
                        </div> 
                        <div *ngIf="isChecked" formGroupName="formWife" style="padding: 10px;"> 
                            <div class="container-formWife">
                                <h3>ACOMPANHANTE 1</h3>
                                <div fxLayout="column">
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                                      <div fxFlex="50" class="field">
                                        <mat-form-field appearance="outline" class="field-100">
                                          <input matInput placeholder="Nome" formControlName="nameWife">  
                                          <app-error-form [control]="form.get('formWife.nameWife')" label="Nome"></app-error-form>
                                        </mat-form-field> 
                                      </div>
                                      <div fxFlex="50" class="field">
                                        <mat-form-field appearance="outline" class="field-100">
                                          <input matInput placeholder="Último Nome" formControlName="lastNameWife">
                                          <app-error-form [control]="form.get('formWife.lastNameWife')" label="Último Nome"></app-error-form>
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div fxLayout="row" fxLayout.xs="column">
                                      <div fxFlex="50" class="field">
                                          <mat-form-field appearance="outline" class="field-100">
                                            <input matInput placeholder="CPF" formControlName="cpfWife" mask="000.000.000-00">
                                            <app-error-form [control]="form.get('formWife.cpfWife')" label="CPF"></app-error-form>
                                          </mat-form-field>
                                      </div>
                                      <div fxFlex="50" class="field">
                                          <mat-form-field appearance="outline" class="field-100">
                                            <mat-label>Data de Nascimento</mat-label>
                                            <input matInput 
                                                    [matDatepicker]="picker" 
                                                    formControlName="birthDateWife"
                                                    [min]="minDate"
                                                    [max]="maxDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <app-error-form [control]="form.get('formWife.birthDateWife')" label="Data de Nascimento"></app-error-form>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div fxFlex="50" class="field">
                                      <mat-form-field appearance="outline" class="field-100">
                                        <input matInput placeholder="Email" formControlName="emailWife" >
                                        <app-error-form [control]="form.get('formWife.emailWife')" label="Email"></app-error-form>
                                      </mat-form-field>  
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5" formGroupName="addressForm" style="padding: 10px;">
                            <h3>DADOS DA ENTREGA</h3>
                            <address-form (form)="form?.setControl('addressForm', $event)"></address-form>
                        </div>
                    </div> 
                </form>
                <div fxLayout="row" fxLayoutAlign="end center" class="btn-cadastro">
                        <button mat-raised-button color="primary"[disabled]="!form?.valid" (click)="enviarDados()">Enviar</button>
                 </div>
            </div>
            <div class="content-ticket" fxFlex="35">
                <div class="header-ingresso">
                  <h3>SEU INGRESSO</h3>
                </div>
               <!-- <div class="container-ingresso" fxLayout="row" fxLayoutAlign="space-evenly start" *ngFor="let movie of movie.results">
                        <img class="img-poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="poster do filme selecionado">
                        <div fxLayout="column">
                            <h3 class="title-ingresso">Ingresso</h3>
                            <p>Filme: {{movie.title}}</p>
                            <p class="valor-filme"><b>R$ {{valueMovie}}</b></p>
                         </div> 
                </div>-->
                <div class="container-ingresso" fxLayout="row" fxLayoutAlign="space-evenly start" >
                    <img class="img-poster" src="https://image.tmdb.org/t/p/original{{imageMovie}}" alt="poster do filme selecionado">
                    <div fxLayout="column">
                        <h3 class="title-ingresso">Ingresso</h3>
                        <p>Filme: {{titleMovie}}</p>
                        <p class="value-movie"><b>R$ {{valueMovie}}</b></p>
                     </div> 
                </div>
                <div class="content-ingresso" fxLayout="column">
                  <div class="content-value">
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <p class="sub-title-value">Sub total</p>
                      <div fxLayout="column">
                        <p>R$ {{valueMovie}}</p>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <p class="sub-title-value">Frete</p>
                      <p>R$ {{ valueFrete }}</p>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="content-total">
                    <p class="sub-title-total">TOTAL</p>
                    <p class="value-movie"><b>R$ {{valueMovie + valueFrete}}</b></p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    <footer>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
            <img class="logo-footer" src="../../../assets/otech.png" alt="Logo da otech">
            <span class="addres-footer">Street address: 445 Mount Eden Road, Mount Eden, Auckland - Postcode: 55022</span>
            <h3 class="redes-socias">Nossas Redes</h3>
            <div fxLayout="row" class="content-redes-sociais">
              <div class="logo-redes-footer" fxLayoutAlign="center center">
                <fa-icon [icon]="faInstagram" ></fa-icon>
              </div>
              <div class="logo-redes-footer" fxLayoutAlign="center center">
                <fa-icon [icon]="faLinkedinIn" ></fa-icon>
              </div>
              <div class="logo-redes-footer" fxLayoutAlign="center center">
               <fa-icon [icon]="faTwitter" ></fa-icon>
              </div>             
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
            <h3 class="title-section-footer">Sobre Nós</h3>
            <a [routerLink]="['/']">Perfil</a>
            <a [routerLink]="['/']">Sobre</a>
            <a [routerLink]="['/']">Contato</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
            <h3 class="title-section-footer">Redes Sociais</h3>
            <a [routerLink]="['/']">Twitter</a>
            <a [routerLink]="['/']">Instagram</a>
            <a [routerLink]="['/']">Linkedin</a>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
            <h3 class="title-section-footer">Contato</h3>
            <a [routerLink]="['/']">FAC</a>
            <a [routerLink]="['/']">Sitemap</a>
            <a [routerLink]="['/']">Dúvidas</a>
          </div>
      
        </div>
      </footer>
      <div fxLayout="row">
        <span>Contact Us</span>
        <span class="copyright">Copyight 2019.<i class="far fa-copyright"></i> Tempalte</span>
      </div>
</div>
<app-loading *ngIf="loading"></app-loading>