<div [formGroup]="enderecoForm">
    <div fxLayout="column">
        <div fxFlex="100" class="field" [ngClass]="aplicaCssErro('enderecoForm.cep')">
            <mat-form-field appearance="outline" class="field-100">
                <input matInput placeholder="CEP" formControlName="cep" (blur)="consultaCEP()" mask="00.000-000">
                <app-campo-erro-form
                    [mostrarErro]="verificaValidTouched('enderecoForm.cep')"
                    msgErro="CEP é obrigatório.">
                </app-campo-erro-form>   
            </mat-form-field>
        </div> 
        <div class="field" fxFlex="100" >
            <mat-form-field appearance="outline" class="field-100">
                <input matInput placeholder="Endereço" formControlName="address">
                <app-error-form [control]="enderecoForm.get('address')" label="Endereço"></app-error-form>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
            <div class="field" fxFlex="50" >
                <mat-form-field appearance="outline" class="field-100">
                    <input matInput placeholder="País" formControlName="country">
                    <app-error-form [control]="enderecoForm.get('country')" label="País"></app-error-form>
                </mat-form-field>
            </div>
            <div fxFlex="50" class="field">
                <mat-form-field appearance="outline" class="field-100">
                    <input matInput placeholder="Estado" formControlName="state">
                    <app-error-form [control]="enderecoForm.get('state')" label="Estado"></app-error-form>
                </mat-form-field>
            </div>
        </div>
        <div class="field" fxFlex="100" >
            <mat-form-field appearance="outline" class="field-100">
                <input matInput placeholder="Cidade" formControlName="city">
                <app-error-form [control]="enderecoForm.get('city')" label="Cidade"></app-error-form>
            </mat-form-field>
        </div>
        <div class="field" fxFlex="100" >
            <mat-form-field appearance="outline" class="field-100">
                <input matInput placeholder="Telefone" formControlName="telephone">
                <app-error-form [control]="enderecoForm.get('telephone')" label="Telefone"></app-error-form>
            </mat-form-field>
        </div>
    </div>
</div>